<section>
	<div class="form-container">
		<form action="/admin/service/<%= editing ? 'edit' : 'add'%>" method="post" class="form">
			<span class="heading"><%= editing ? 'Edit Your Service' : 'Add Your Service' %></span>
			<input placeholder="Title of Your Service" type="text" class="input" name="title" value="<%= editing ? serviceInfo.title : '' %>" />
			<input placeholder="Enter a Tag" id="tag" type="tag" name="tag" class="input" value="<%= editing ? serviceInfo.tag : '' %>" />
			<input placeholder="Price of Your Service ($)" id="price" name="price" type="number" class="input" value="<%= editing ? serviceInfo.price : '' %>" />
			<textarea
				placeholder="Describe your Service"
				rows="10"
				cols="30"
				id="description"
				name="description"
				class="textarea"
			><%= editing ? serviceInfo.description : '' %></textarea>
			<div class="button-container">
				<button type="submit" class="send-button"><%= editing ? 'Edit' : 'Add' %></button>
				<div class="reset-button-container">
					<div id="reset-btn" class="reset-button">Reset</div>
				</div>
			</div>
		</form>
	</div>
</section>