<section class="grid-3-col">
	<% for (job of jobs) { %>
	<article class="admin-service-card">
		<div class="img-container">
			<img src="https://blog.hubspot.com/hs-fs/hubfs/customer-service-3.png?width=595&height=400&name=customer-service-3.png" alt="" />
		</div>
		<div class="text-container">
			<div class="textContent">
				<h2 class="service-title"><%= job.title %></h2>
				<h3 class="service-price">$<%= job.price %></h3>
			</div>
			<p class="p"><%= job.description %></p>
			<div>
				<form action="/admin/service/delete" method="post">
					<input type="hidden" name="serviceID" value="<%= service._id %>">
					<button type="submit"><img src="/assets/delete.svg" alt="" /></button>
				</form>
				<a href="/admin/service/edit/<%= job._id %>?edit=true">
                    <img src="/assets/edit.svg" alt="Edit" />
                </a>
			</div>
		</div>
	</article>
    <% } %>
    <%- include('../layouts/add-card') %>
</section>