<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<main class="admin-panel">
            <aside class="admin-navigation">
                <%- include('../partials/adminHeader') %>
            </aside>
			<section class="admin-content">
				<% switch (path) 
                { case '/service/add': %> 
                <%- include('./add-service') %> 
                <% break; %>
                <% case '/services/all': %>
                <%- include('./all-service') %>
                <% break; %> 
                <% case '/settings': %>
                <%- include('./settings') %>
                <% break; %> 
                <% case '/jobs/all': %>
                <%- include('./all-jobs') %>
                <% break; %> 
                <% case '/job/add': %>
                <%- include('./add-job') %>
                <% break; default: %> 
                <%- include('./dashboard') %> 
                <% break; } %>
			</section>
		</main>
	</body>
</html>
