<section>
	<table>
		<thead>
			<th>Title</th>
			<th>Rate</th>
			<th>Total</th>
			<th>Quantity</th>
			<th>Action</th>
		</thead>
		<tbody>
			<% let totalSum = 0; %> 
            <% for (service of services) { %>
			<tr>
				<td><%= service.serviceID.title %></td>
				<td><%= service.serviceID.price %></td>
				<td><%= service.serviceID.price * service.quantity %></td>
				<td><%= service.quantity %></td>
				<td>
					<form action="/cart/delete" method="post">
						<input
							type="hidden"
							name="serviceID"
							value="<%= service.serviceID._id %>"
						/>
						<button type="submit">Remove</button>
					</form>
				</td>
			</tr>
			<% totalSum += service.serviceID.price * service.quantity; %> 
            <% } %>
		</tbody>
	</table>
	<div>
		<h2><%= totalSum %></h2>
	</div>
	<form action="/order" method="post">
		<button>Order Now</button>
	</form>
</section>
