<main class="job-listing-page">
    <section class="page-head">
        <article>
            <h2>Find the best freelance jobs</h2>
            <p>Browse jobs posted on SkillHub, or jump right in and create a free profile to find the work that you love to do.</p>
        </article>
        <div>
            <a href="/admin">
                <button class="btn-secondary">Find Work</button>
            </a>
            <a href="/admin">
                <button class="btn-secondary">Watch a Demo</button>
            </a>
        </div>
	</section>
    <%- include('./job-list') %>

    <section class="pagination-section">
        <% if (currentPage > 1) { %>
            <a href="/jobs/all?page=<%= currentPage - 1 %>&limit=<%= itemsPerPage %>">
                <button class="pagination-btn">Previous</button>
            </a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/jobs/all?page=<%= i %>&limit=<%= itemsPerPage %>">
                <button class="<%= i === currentPage ? 'active' : 'pagination-btn' %>">
                    <%= i %>
                </button>
            </a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="/jobs/all?page=<%= currentPage + 1 %>&limit=<%= itemsPerPage %>">
                <button class="pagination-btn">Next</button>
            </a>
        <% } %>
    </section>
</main>