<section class="job-card-container">
		<% for (job of jobs) { %>
		<article class="job-card">
			<div>
				<h3 class="text-title"><%= job.title %></h3>
				<p class="post-date">Posted on 23 Dec, 2023</p>
			</div>

			<div class="budget-exp">
				<div>
					<h3>$<%= job.price %></h3>
					<p>Budget</p>
				</div>
				<div>
					<h3>Intermediate</h3>
					<p>Experience</p>
				</div>
			</div>

			<p class="text-body"><%= job.description %></p>

			<div class="tags">
				<article>
					<p><%= job.tag %></p>
					<p>Website</p>
					<p>HTML</p>
					<p>Javascript</p>
				</article>
			</div>

			<div>
				<a href="/job/<%= job._id %>">
					<button class="btn-secondary">See More</button>
				</a>
			</div>
		</article>
		<% } %>
</section>
