<article class="grid-3-col">
		<% for (service of services) { %>
		<div class="card">
			<div class="img-container">
				<img src="https://blog.hubspot.com/hs-fs/hubfs/customer-service-3.png?width=595&height=400&name=customer-service-3.png" alt="" />
			</div>
			<a href="/service/<%= service._id %>">
				<p class="text-title"><%= service.title %></p>
				<p class="text-body"><%= service.description %></p>
			</a>
			<div class="card-footer">
				<span class="text-title">$ <%= service.price %></span>
				<form class="card-button" action="/<%= isAuth ? 'cart' : 'login' %>" method="<%= isAuth ? 'post' : 'get' %>">
					<input type="hidden" name="serviceID" value="<%= service._id %>" />
					<button type="submit" id="cart">
						<img src="/assets/cart.svg" alt="" />
					</button>
				</form>
			</div>
		</div>
		<% } %>
</article>
